<html>
    <body>
        Welcome to eJS Page <%=msg%>
        <p><%=courses%></p>
        <p>
            <ul>
                <% courses.forEach((item)=>{%>
                    <li><%=item%></li>

                <%})%>
                
            </ul>
        </p>
    </body>
</html>